
@{
    ViewBag.Title = "About MissionHQ";
}


<h2>@ViewBag.Title</h2>
<h3>Our site is all about connecting missionaries from missions around the World!</h3>
<p>
    Visit our FAQ page to see questions asked in your mission and ask a question of your own!
    Returned missionaries from your mission will have a chance to answer your questions!
</p>
<img src="~/Content/Images/PMGpurpose.png" />
<br />
<p>
    You are surrounded by people. You pass them on the street, visit them in their homes, and travel among them.
    They are all children of God, your brothers and sisters. God loves them just as He loves you.
    Many of these people are searching for purpose in life. They are concerned for their future and their families.
    They need the sense of belonging that comes from the knowledge that they are children of God, members of His eternal family.
    They want to feel secure in a world of changing values. They want "peace in this world, and eternal life in the world to come"
    (Doctrine and Covenants 59:23), but they are "kept from the truth because they know not where to find it" (Doctrine and Covenants 123:12).
</p>
<p>
    The gospel of Jesus Christ as restored by the Savior through the Prophet Joseph Smith will bless them and their families,
    meet their spiritual needs, and help them fulfill their deepest desires. Although they may not know why, they need relief
    from feelings of loneliness and guilt that come from sin. They need to experience the joy of redemption by receiving forgiveness
    of their sins and enjoying the gift of the Holy Ghost.
</p>
<p>
    As an authorized representative of Jesus Christ, you can teach people with power and authority that "redemption cometh in and through
    the Holy Messiah," and that no one "can dwell in the presence of God, save it be through the merits, and mercy, and grace of the Holy
    Messiah" (2 Nephi 2:6, 8 As people come to accept the restored gospel of Jesus Christ and receive the ordinances of baptism and
    confirmation by priesthood authority, they can be assured that they "are not cast off forever" (Book of Mormon, title page).
</p>
<br />
<img src="~/Content/Images/PriesthoodPower.png" />
