
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Be Prepared for the Field!</h1>
    <p class="lead">Ask a returned missionary a question.</p>
    <hr class="my-2">
    
</div>


<div class="row">
    <div class="center-block">
        <img src="~/Content/Images/Rome_Pickerd_0007.jpg" class="img-fluid, img-rounded" alt="Responsive image" />
    </div>
    <div class="center-block">
        <h3>Return Missionaries from Rome Share Their Experience</h3>
        <br />
        <div style="float:left; margin-right:50px;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ckLqfX62u_I" frameborder="0" allow="accelerometer;
                    autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div style="float:left;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3aKU2rkvFQU" frameborder="0" allow="accelerometer;
                    autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

